<!doctype html>
<html>

<head>
    <title>HABViz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_front.css') }}">
</head>

<body>
    <div class="wrapper">
        <main class="block">
            <div class="header">
                <h1> Flight Path Visualizer </h1>
            </div>

            <div id="about">
                <p> High altitude balloon visualization software written by Penn's Aerospace club. 
                    Feel free to demo some of our data from past launches or input your own. 
                    Select up to four variables for the x and y axes, i.e. latitude and longitude, height axis i.e. altitude, 
                    and a fourth variable to for coloring i.e. temperature. Features include: statistics about your data, 
                    optional linear interpolation to correct for missing or erroneous data, and interactive graphs.
                <p>
            </div>

            <div id="buttons">
                <a href="upload" class="button">Upload Flight Data</a>
                <a href="demo" class="button">Demo</a>
            </div>
        </main>
    </div>

</body>
</html>

